html {  font-size: 10px;}

head { padding:50px;
background-color: #024b04;}

body { 
    padding: 100px;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.box {
  max-width: 100%;
  margin: 15px auto ;
  background: white;
  padding: 20px;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;}
    

textarea { width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  resize: vertical;}

button {padding: 10px 15px;
  border: none;
  background: #46b347;
  color: white;
  border-radius: 6px;
  cursor: pointer;
margin: 10px 0;}
